## DECODING GOOGLE NEWS ARTICLES

In [1]:
import pandas as pd
#import geopandas as gpd
import json
from ast import literal_eval
from collections import Counter
import numpy as np
import matplotlib.pyplot as plt
import json
import base64
import requests
import bs4
from bs4 import BeautifulSoup
import re
#import lxml.etree

#pip install geopandas
#pip install spacy
#python -m spacy download en_core_web_sm
#pip install lxml
#pip install parser-libraries

In [2]:
#rz = pd.read_csv("full_rizz.csv", sep = ";")


# read in the dataset 
df = pd.read_json('animal_news_database.json', lines = True)
# Drop Twitter handles as they are not species names
df = df[df.scientific_name.str.contains('@') == False]
df.reset_index(drop = True, inplace = True)


df = df.drop(['_id'], axis=1)

# Explode the articles column
s = df['articles'].map(dict.values).explode()
# NaN values need to be droppped
s = s.dropna()
# Drop the column articles and join the exploded values to the dataframe
df_full = df.drop(columns=['articles']).join(pd.DataFrame([*s], s.index))

# Processing for articles       
# keep only unique article instances
df_media = df_full.drop_duplicates(subset=['text'])
# Transform date column into DateTime
df_media["date"] = df_media["date"].apply(pd.to_datetime)
# Sort by oldest to newest
df_media = df_media.sort_values(by="date")
# reset index
df_media.reset_index(drop = True, inplace = True)
# Remove any rows with blank data for the text column
df_media = df_media[df_media['text'].notna()]

/tmp/ipykernel_59/2430195414.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_media["date"] = df_media["date"].apply(pd.to_datetime)

In [7]:
"""Decode encoded Google News entry URLs."""
import base64
import functools
import re

# Ref: https://stackoverflow.com/a/59023463/

_ENCODED_URL_PREFIX = "https://news.google.com/articles/"
_ENCODED_URL_RE = re.compile(fr"^{re.escape(_ENCODED_URL_PREFIX)}(?P<encoded_url>[^?]+)")
_DECODED_URL_RE = re.compile(rb'^\x08\x13".+?(?P<primary_url>http[^\xd2]+)\xd2\x01')


@functools.lru_cache(2048)
def _decode_google_news_url(url: str) -> str:
    match = _ENCODED_URL_RE.match(url)
    encoded_text = match.groupdict()["encoded_url"]  # type: ignore
    encoded_text += "==="  # Fix incorrect padding. Ref: https://stackoverflow.com/a/49459036/
    decoded_text = base64.urlsafe_b64decode(encoded_text)

    match = _DECODED_URL_RE.match(decoded_text)
    primary_url = match.groupdict()["primary_url"]  # type: ignore
    primary_url = primary_url.decode()
    return primary_url


def decode_google_news_url(url: str) -> str:  # Not cached because not all Google News URLs are encoded.
    """Return Google News entry URLs after decoding their encoding as applicable."""
    return _decode_google_news_url(url) if url.startswith(_ENCODED_URL_PREFIX) else url

In [8]:
# Create an empty list for the urls
urls = []

# loop through the urls in the column that contains links to googlenews articles
for url in df_media['link']:
    try:
        new = decode_google_news_url(url)
        urls.append(new)
    
    # Attribute error caused by a faulty link will be removed from dataset
    except AttributeError:
        df_media.drop(df_media.loc[df_media.link == url].index, inplace = True)

# After dropping rows we will need to reset the index
df_media = df_media.reset_index(drop=True)

In [12]:
# The lengths of the list and dataframe will be the same, as will their order
# We can concatenate into a new dataframe
df_update = pd.concat([df_media, pd.DataFrame({'url':urls})], axis=1)
# Store the dataframe 
df_update.to_csv("csv/animals_exploded.csv", sep = ';', index = False)

## SHARECOUNT RETRIEVAL HERE

In [2]:
#rz = pd.read_csv("csv/updated_urls_rizz.csv", sep = ";")

In [13]:
df_update.columns

Index(['common_name', 'scientific_name', 'distribution', 'iucn_status',
       'date_saved', 'text', 'title', 'link', 'image', 'date', 'ner', 'url'],
      dtype='object')

In [16]:
df_update[:10000]

,common_name,scientific_name,distribution,iucn_status,date_saved,text,title,link,image,date,ner,url
0,White-winged Wood Duck,Asarcornis scutulata,"Bangladesh, Cambodia, India, Indonesia, Lao Pe...",EN,2020-06-18,"TEMPO.CO, Jakarta - Holding a huge appeal for ...",Lampung Holds Huge Appeal for International To...,https://news.google.com/articles/CBMiU2h0dHA6L...,https://statik.tempo.co/data/2015/02/01/id_366...,1970-01-01,"[{'sent': 'TEMPO.CO, Jakarta - Holding a huge ...",http://en.tempo.co/read/786937/lampung-holds-h...
1,Javan Rhinoceros,Rhinoceros sondaicus,"Bangladesh, Cambodia, China, India, Indonesia,...",Critically Endangered,2020-06-18,"TEMPO.CO, Jakarta - Director of the Biodiversi...",Javan Rhinos to be Transferred to Cikepuh Wild...,https://news.google.com/articles/CBMiWmh0dHBzO...,https://statik.tempo.co/data/2011/12/29/id_100...,1970-01-01,"[{'sent': 'TEMPO.CO, Jakarta - Director of the...",https://en.tempo.co/read/878302/javan-rhinos-t...
2,White-winged Wood Duck,Asarcornis scutulata,"Bangladesh, Cambodia, India, Indonesia, Lao Pe...",EN,2020-06-18,"TEMPO.CO, East Lampung - President Joko Widodo...",Jokowi Names Sumatran Rhino `Delilah`,https://news.google.com/articles/CBMiQ2h0dHBzO...,https://statik.tempo.co/data/2015/02/09/id_369...,1970-01-01,"[{'sent': 'TEMPO.CO, East Lampung - President ...",https://en.tempo.co/read/791199/jokowi-names-s...
3,Javan Gibbon,Hylobates moloch,Indonesia,Endangered,2020-06-18,"TEMPO.CO, Nairobi - The world`s last male nort...",World`s Last Male Northern White Rhino Dies,https://news.google.com/articles/CBMiSmh0dHBzO...,https://statik.tempo.co/data/2017/08/23/id_635...,1970-01-01,"[{'sent': 'TEMPO.CO, Nairobi - The world`s las...",https://en.tempo.co/read/916815/worlds-last-ma...
4,Javan Gibbon,Hylobates moloch,Indonesia,Endangered,2020-06-18,"TEMPO.CO, Phnom Penh - Wildlife researchers in...",Cambodia Conservationists Find Rare Cache of C...,https://news.google.com/articles/CBMiXGh0dHBzO...,https://statik.tempo.co/data/2014/11/25/id_346...,1970-01-01,"[{'sent': 'TEMPO.CO, Phnom Penh - Wildlife res...",https://www.tempo.co/read/887698/cambodia-cons...
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,White rhino,Ceratotherium simum,"Angola, Botswana, Central African Republic, Ch...",Near Threatened,2020-06-18,Armstrong: I think from an animal welfare pers...,Experts debunk a few things about ‘Tiger King’,https://news.google.com/articles/CBMiQ2h0dHBzO...,https://www.futurity.org/wp/wp-content/uploads...,2020-05-05,[{'sent': 'The San Diego Zoo has a reserve tha...,https://www.futurity.org/tiger-king-conservati...
9996,Golden Langur,Trachypithecus geei,"Bhutan, India",Endangered,2020-06-18,The Indian subcontinent is blessed with an abu...,Top 10 National Parks in the Indian Subcontine...,https://news.google.com/articles/CBMigQFodHRwO...,https://1471793142.rsc.cdn77.org/data/images/f...,2020-05-05,[{'sent': 'The Indian subcontinent is blessed ...,http://www.natureworldnews.com/articles/43759/...
9997,Lion,Panthera leo,"Afghanistan, Algeria, Angola, Benin, Botswana,...",VU,2020-06-18,"Food Lion sales starting Wednesday, May 6 incl...","Food Lion deals 5/6: $5 off 5 promo, strawberr...",https://news.google.com/articles/CBMidmh0dHBzO...,https://wwwcache.wral.com/asset/news/local/201...,2020-05-05,"[{'sent': 'Food Lion sales starting Wednesday,...",https://www.wral.com/food-lion-deals-5-6-5-off...
9998,Lion,Panthera leo,"Afghanistan, Algeria, Angola, Benin, Botswana,...",VU,2020-06-18,SAN DIEGO (KGTV) — The bioluminescent tide alo...,Watch: Sea lion plays in bioluminescence water...,https://news.google.com/articles/CBMicGh0dHBzO...,https://ewscripps.brightspotcdn.com/dims4/defa...,2020-05-05,"[{'sent': 'SAN DIEGO (KGTV) —', 'ents': {'GPE'...",https://www.10news.com/lifestyle/exploring-san...
9999,Grizzly Bear,Ursus arctos,"Afghanistan, Albania, Armenia, Austria, Azerba...",Least Concern,2020-06-18,A grizzly bear roams near Beaver Lake in Yello...,War Over Yellowstone Grizzly Bear Protections ...,https://news.google.com/articles/CBMiY2h0dHA6L...,https://www.courthousenews.com/wp-content/uplo...,2020-05-05,[{'sent': 'A grizzly bear roams near Beaver La...,http://www.courthousenews.com/war-over-yellows...

In [17]:
# From Sharecount API 
# 10,000 quota per day 
from requests.structures import CaseInsensitiveDict

sharecount = []
for url in df_update['url'][:10000]: 
    
    api = "https://api.sharedcount.com/v1.1?apikey=2a0336186dc8f5740fef9c1eb81947d66119c29f&url=" + url
                                                   
    headers = CaseInsensitiveDict()
    headers["Accept"] = "application/json"
    
    resp = requests.get(api, headers=headers)
    details = resp.json()
    #for n in range(len(details)):
        #count = details[n]['Facebook']['share_count']
        #print(count)
 
    
    fb_count = details['Facebook']['share_count']
    sharecount.append(fb_count)
        
   # except KeyError:
       # print(url, details)
        #rz.drop(rz.loc[rz.url == url].index, inplace = True)

In [18]:
len(sharecount)

10000

In [21]:
all_articles_sharecount = pd.concat([df_update, pd.DataFrame({'sharecount':sharecount})], axis=1)

In [24]:
# fix 1970 dates
sample = all_articles_sharecount.loc[all_articles_sharecount['date'].isin(['01/01/1970'])]


# replacing the dates 1970 with the dates found in the image link as they match the date the article was published
date = []
for s in sample['image']:
    result = re.search('data/(.*)/id_', s)
    date.append(result.group(1))
    
    
# Conactenate
pd.concat([sample, pd.DataFrame({'dates':date})], axis=1)

,common_name,scientific_name,distribution,iucn_status,date_saved,text,title,link,image,date,ner,url,sharecount,dates
0,White-winged Wood Duck,Asarcornis scutulata,"Bangladesh, Cambodia, India, Indonesia, Lao Pe...",EN,2020-06-18,"TEMPO.CO, Jakarta - Holding a huge appeal for ...",Lampung Holds Huge Appeal for International To...,https://news.google.com/articles/CBMiU2h0dHA6L...,https://statik.tempo.co/data/2015/02/01/id_366...,1970-01-01,"[{'sent': 'TEMPO.CO, Jakarta - Holding a huge ...",http://en.tempo.co/read/786937/lampung-holds-h...,0.0,2015/02/01
1,Javan Rhinoceros,Rhinoceros sondaicus,"Bangladesh, Cambodia, China, India, Indonesia,...",Critically Endangered,2020-06-18,"TEMPO.CO, Jakarta - Director of the Biodiversi...",Javan Rhinos to be Transferred to Cikepuh Wild...,https://news.google.com/articles/CBMiWmh0dHBzO...,https://statik.tempo.co/data/2011/12/29/id_100...,1970-01-01,"[{'sent': 'TEMPO.CO, Jakarta - Director of the...",https://en.tempo.co/read/878302/javan-rhinos-t...,0.0,2011/12/29
2,White-winged Wood Duck,Asarcornis scutulata,"Bangladesh, Cambodia, India, Indonesia, Lao Pe...",EN,2020-06-18,"TEMPO.CO, East Lampung - President Joko Widodo...",Jokowi Names Sumatran Rhino `Delilah`,https://news.google.com/articles/CBMiQ2h0dHBzO...,https://statik.tempo.co/data/2015/02/09/id_369...,1970-01-01,"[{'sent': 'TEMPO.CO, East Lampung - President ...",https://en.tempo.co/read/791199/jokowi-names-s...,0.0,2015/02/09
3,Javan Gibbon,Hylobates moloch,Indonesia,Endangered,2020-06-18,"TEMPO.CO, Nairobi - The world`s last male nort...",World`s Last Male Northern White Rhino Dies,https://news.google.com/articles/CBMiSmh0dHBzO...,https://statik.tempo.co/data/2017/08/23/id_635...,1970-01-01,"[{'sent': 'TEMPO.CO, Nairobi - The world`s las...",https://en.tempo.co/read/916815/worlds-last-ma...,0.0,2017/08/23
4,Javan Gibbon,Hylobates moloch,Indonesia,Endangered,2020-06-18,"TEMPO.CO, Phnom Penh - Wildlife researchers in...",Cambodia Conservationists Find Rare Cache of C...,https://news.google.com/articles/CBMiXGh0dHBzO...,https://statik.tempo.co/data/2014/11/25/id_346...,1970-01-01,"[{'sent': 'TEMPO.CO, Phnom Penh - Wildlife res...",https://www.tempo.co/read/887698/cambodia-cons...,0.0,2014/11/25
5,Javan Gibbon,Hylobates moloch,Indonesia,Endangered,2020-06-18,"TEMPO.CO, Jakarta - A Javan Leopard (Panthera ...",Javan Leopard Spotted in West Java Conservatio...,https://news.google.com/articles/CBMiVGh0dHBzO...,https://statik.tempo.co/data/2016/03/31/id_494...,1970-01-01,"[{'sent': 'TEMPO.CO, Jakarta - A Javan Leopard...",https://en.tempo.co/read/845300/javan-leopard-...,0.0,2016/03/31
6,Javan Rhinoceros,Rhinoceros sondaicus,"Bangladesh, Cambodia, China, India, Indonesia,...",Critically Endangered,2020-06-18,"TEMPO.CO, Jakarta - Indonesia is home to two o...",Sumatran Rhino Population Critical,https://news.google.com/articles/CBMiQmh0dHBzO...,https://statik.tempo.co/data/2015/02/09/id_369...,1970-01-01,"[{'sent': 'TEMPO.CO, Jakarta - Indonesia is ho...",https://en.tempo.co/read/806444/sumatran-rhino...,0.0,2015/02/09

In [22]:
all_articles_sharecount.to_csv('csv/articles-w-full_sharecount.csv', sep = ';', index = False)

In [6]:
frst = pd.read_csv("csv/urls_df_1999.csv", sep = ";")

In [12]:
pd.Series(sharecount).set_axis(range(1999, 2193))

1999     1
2000    36
2001    10
2002     0
2003    22
        ..
2188     0
2189     1
2190    10
2191     0
2192     0
Length: 194, dtype: int64

In [13]:
frst['sharecount'].iloc[1999:].fillna(pd.Series(sharecount).set_axis(range(1999, 2193)), inplace = True)

In [62]:
## Directly retrieveing from Facebook
# Has lower request limit

from requests.structures import CaseInsensitiveDict
import requests

sharecount = []
for url in urls:
    headers = CaseInsensitiveDict()
    headers["Accept"] = "application/json"
    
    token = "EAAIxJUBe0zYBAOKUVYhZCHWRlZBm0Pj4M8DGka4LvaFuyeKCMLF8NG2rGtamLjwAMZBSrMFWPY6ZAnpZAihDhP7wjs9drlJ4W8C1ZCCyguI2Kg8rxgfUVrv22sFrcNLXYS1PYZAZALqr2ZB4bLpKMYHC7yGA7lXF8tf3G6BOI6YdQArlLt5bzY6TMZC73HTBr4ztpbRkSefUXGFZB9TTgbyZBL8nY8sSq5YuZAFy9owthwenPOMvK3K9ZACtP5hBiY2GfV4GcZD"
    resp = requests.get(f'https://graph.facebook.com/?id={url}&fields=engagement&access_token={token}', headers=headers).json()
    #print(resp)
    
    #break
    try:
        fb_shares = (resp['engagement']['share_count'])
        sharecount.append(fb_shares)
    except KeyError:
        print("API Limit exceeded")
        
        break

API Limit exceeded