In [1]:
import requests
from requests.structures import CaseInsensitiveDict

url = "https://api.geoapify.com/v1/geocode/search?text=" + text + "&apiKey=3e1f56207e074f7a8108362ba0a7e5c5"

headers = CaseInsensitiveDict()
headers["Accept"] = "application/json"

resp = requests.get(url, headers=headers)

print(resp.status_code)

200

In [31]:
from pandas import json_normalize
addr = resp.json()

addr_df = json_normalize(addr)

#pd.DataFrame.from_dict(addr)

In [55]:
for i in addr_df['features']:
    for y in i:
        print(pd.DataFrame.from_dict([*y], y.values))

AttributeError: 'builtin_function_or_method' object has no attribute 'lower'

<built-in method values of dict object at 0x7f917616f200>

In [4]:
import pandas as pd
#import geopandas as gpd
import json
from ast import literal_eval
from collections import Counter
import numpy as np
import matplotlib.pyplot as plt
import json


GPEtags = pd.read_csv("20species_GPEtags.csv", sep = ";")

In [7]:
GPEtags = GPEtags.drop(columns = 'Unnamed: 0')

In [8]:
for txt in GPEtags['GPE']:
    text = txt
    url = "https://api.geoapify.com/v1/geocode/search?text=" + text + "&apiKey=3e1f56207e074f7a8108362ba0a7e5c5"
    
    headers = CaseInsensitiveDict()
    headers["Accept"] = "application/json"

    resp = requests.get(url, headers=headers)

       scientific_name                    GPE  GPE_count  article_count
0     Acinonyx jubatus                  India         43             50
1     Acinonyx jubatus                   Iran         35             50
2     Acinonyx jubatus                 Russia          8             50
3     Acinonyx jubatus               Savannah          8             50
4     Acinonyx jubatus               Virginia          8             50
...                ...                    ...        ...            ...
4504  Ursus thibetanus                paharis          1             95
4505  Ursus thibetanus           sinandinaria          1             95
4506  Ursus thibetanus  the Republic of Korea          1             95
4507  Ursus thibetanus     the United Kingdom          1             95
4508  Ursus thibetanus                    zoo          1             95

[4509 rows x 4 columns]