### Testing for exploding the articles column

In [8]:
import pandas as pd

In [12]:
data = {'age': [59, 18, 63],
        'sample':  [({'0': {'a':'yes', 'b': 'no'}, '1':{'a': 'maybe', 'b': 'NA'}}), \
                    ({'0': {'a':'no', 'b': 'yes'}}),  \
                    ({'0': {'a':'no', 'b': 'no'}, '1':{'a': 'no', 'b': 'yes'}, '2':{'a': 'yes', 'b': 'yes'}})],
        'date': ['2022-09-29', '2022-08-29', '2022-07-29']}

In [13]:
df = pd.DataFrame.from_dict(data, orient='index', columns=['age', 'sample', 'date'])
df = df.transpose()
df = df.reset_index(drop=True)

In [14]:
df

  age                                             sample        date
0  59  {'0': {'a': 'yes', 'b': 'no'}, '1': {'a': 'may...  2022-09-29
1  18                     {'0': {'a': 'no', 'b': 'yes'}}  2022-08-29
2  63  {'0': {'a': 'no', 'b': 'no'}, '1': {'a': 'no',...  2022-07-29

In [11]:
s = df['sample'].map(dict.values).explode()
df.drop(columns=['sample']).join(pd.DataFrame([*s], s.index))

  age        date      a    b
0  59  2022-09-29    yes   no
0  59  2022-09-29  maybe   NA
1  18  2022-08-29     no  yes
2  63  2022-07-29     no   no
2  63  2022-07-29     no  yes
2  63  2022-07-29    yes  yes